<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:grey ;">
    <h1 style="color:rgb(29, 29, 128) ;">Detail Page</h1>
    <h2 style="color: blueviolet;">{{product.name}}</h2>
    <h3 style="color:blue ;">{{product.description}}</h3>
    <p style="color:rgb(6, 6, 6) ;">{{product.price}} KD</p>

</body>
</html>